[submodule "os162-0AE5"]
	path = os162-0AE5
	url = https://github.com/AlvinRezaLugiana/os162.git
[submodule "os162-042D"]
	path = os162-042D
	url = https://github.com/ngoding/os162.git
[submodule "os162-0B63"]
	path = os162-0B63
	url = https://github.com/rraihansaputra/os162.git
[submodule "os162-0898"]
	path = os162-0898
	url = https://github.com/rizkyaly/os162.git
[submodule "os162-0AE2"]
	path = os162-0AE2
	url = https://github.com/kakioshe/os162.git
[submodule "os162-0BF2"]
	path = os162-0BF2
	url = https://github.com/farrelyaman/os162.git
[submodule "os162-0EC2"]
	path = os162-0EC2
	url = https://github.com/keynekassapa13/os162.git
[submodule "os162-0895"]
	path = os162-0895
	url = https://github.com/joshiarheinier/os162.git
